* text=auto
*.py text
*.md text
*.toml text
*.txt text
*.json text
*.yml text
*.yaml text
*.html text
*.css text
*.js text
*.sh text eol=lf
*.bat text eol=crlf
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary 